.note-list-div {
  width: 220px;
}

/* .current-note-div {
  min-width: 270px;
} */

.note-search-div {
  padding: 10px;
}

.note-search-div input {
  height: 30px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 2px;
}

#note-area {
  width: calc(100% - 237px);
}

.note-title-input-div {
  width: 100%;
}

.note-title-input-div input {
  width: 100%;
  height: 50px;
  font-size: 25px;
  border: none;
  padding-left: 20px;
}

.note-title-input-div input:focus {
  outline: none;
}

.note-seg {
  padding: 10px;
}

.note-address-input {
  display: none;
}

.note-review-section table, .note-text-section table {
  width: 100%;
}

.note-review-section table {
  display: none;
}

.note-section-heading {
  text-align: left;
}

.review-criteria-row td:nth-child(2), .note-action-btns {
  text-align: right;
}

/* ------- MEDIA QUERIES ------- */

@media (max-width: 850px) {
  #note-bar {
    display: none;
  }

  #note-area {
    width: 100%;
  }
}