.note-list-div {
  width: 220px;
}

.note-search-div {
  padding: 10px;
}

.note-search-div input {
  height: 40px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  width: 100%;
  padding-left: 10px;
}

#note-bar {
  border-right: 1px solid rgb(0, 0, 0, 0.04);
}

.current-note-top {
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
}

.current-note-date, .new-note-btn {
  display: inline-block;
  width: 50%;
}

.current-note-date {
  padding-left: 10px;
  color: grey;
}

.new-note-btn {
  text-align: right;
}

#new-note-btn {
  padding: 5px;
  margin: 5px;
}

#note-area {
  width: calc(100% - 240px);
}

.note-title-input-div {
  width: 100%;
}

.note-title-input-div input {
  width: 100%;
  height: 50px;
  font-size: 30px;
  border: none;
  padding-left: 10px;
}

.note-title-input-div input:focus {
  outline: none;
}

.note-seg {
  padding: 10px;
}

.note-address {
  padding-bottom: 0; /* override .note-seg padding */
}

.note-address-input {
  padding: 10px 0;
}

.note-address-btn {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

#note-address {
  padding-top: 0;
}

.note-address-input .address-search-input {
  background: "white";
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgb(0, 0, 0, 0.12);
}

.note-address-input input {
  /* height: 30px; */
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 20px 10px;
  font-size: 16px;
}

.note-review-attach-button {
  padding: 10px;
}

.address-suggestion-box li {
  list-style: none;
  padding: 10px;
  background: "white";
}

.address-suggestion-box li:hover {
  background: rgb(0, 0, 0, 0.05);
}

.note-address-text {
  padding: 5px 0;
  color: rgb(85, 85, 85);
  display: inline-block;
  width: fit-content;
}

.note-review-section table, .note-text-section table {
  width: 100%;
  border-collapse: collapse;
}

.note-section-heading {
  text-align: left;
}

.out-of-five {
  color: rgb(192, 192, 192);
}

.review-criteria-row td:nth-child(2), .note-action-btns {
  text-align: right;
}

.review-criteria-row td {
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
}

.rating-input {
  width: 30px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
}

#note-text-section {
  padding-top: 0;
  padding-bottom: 40px;
}

#note-text-section p {
  margin: 5px 0;
}

#note-text-hr {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
}

.current-note-responsive {
  display: none;
}

#note-bar-responsive {
  display: block;
  width: 100%;
}

#note-area-responsive {
  display: none;
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 850px) {
  #note-bar {
    display: none;
  }

  #note-area {
    width: 100%;
  }

  .note-list-div {
    width: 100%;
  }

  .list-item-text {
    width: 75%;
  }
  
  .current-note-responsive {
    display: inline-block;
    width: 40%;
  }

  .current-note-date {
    width: 40%;
  }

  .new-note-btn {
    width: 20%;
  }

  .note-title-input-div input {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  #notes-review-modal-preview {
    width: 95%;
  }
}
