.list-item {
  padding-bottom: 0!important;
  padding-right: 0!important;
  height: 70px;

}

.list-item-text {
  width: 160px;
}

.list-item-text .MuiListItemText-primary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 160px;
}

.list-item-actions {
  /* width: 100%; */
  padding-left: 10px;
  background: none;
}

.list-item-actions button {
  /* display: block; */
  height: 30px;
  width: 30px;
  padding: 5px;
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.list-item-actions button:hover {
  background: rgb(247, 247, 247);
}

.noHover {
  background-color: white;
  transition: 0.3s;
}

.list-item-star {
  color: rgb(151, 81, 184);
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 850px) {
  /* .note-list-div {
    width: 100%;
  }

  .list-item-text {
    width: 75%;
  } */
  .list-item-text .MuiListItemText-primary {
    width: 100%;
  }
  
} 