.table-toolbar {
  width: 950px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  background: white;
  padding: 5px 10px 10px 5px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
  border-radius: 4px;
}

.table-search, .table-sort, .table-filter {
  display: inline-block;
}

.table-search {
  vertical-align: bottom;
}

.table-sort select {
  width: 220px;
}

.table-filter select {
  width: 150px;
}

.table-toolbar select {
  background: white;
  height: 30px;
}

.table-toolbar input {
  font-family: "Roboto", sans-serif;
  height: 50px;
  width: 350px;
  border-radius: 4px;
  border: 1px solid rgb(162, 14, 192);
  padding: 10px;
  margin-bottom: -5px;
}

.table-search {
  margin-right: 80px;
  height: 100%;
}

.table-sort {
  margin-right: 30px;
}

.clear-sort-filter-btn {
  margin-left: 10px!important;
  margin-bottom: -20px!important;
}