.calendar-container {
  position: fixed;
  top: 65px;
  left: 240px;
  height: 100%;
  width: calc(100vw - 240px);
  padding: 20px 0;
  overflow: auto;
}

.calendar-wrapper {
  border-radius: 2px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.monthly-heading {
  font-weight: 300;
  margin-top: 10px;
}

.fc-daygrid {
  background: white!important;
}

.fc-button-group {
  width: 120px;
}

.fc-prev-button, .fc-next-button {
  background: none!important;
  border: 2px solid rgb(152, 11, 165)!important;
  color: rgb(152, 11, 165)!important;
}

.fc-prev-button:hover, .fc-next-button:hover {
  background: rgb(152, 11, 165)!important;
  color: white!important;
}

.fc-prev-button {
  margin-right: 10px!important;
  border-top-left-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
}

.fc-next-button {
  border-top-right-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

.fc-daygrid-day {
  cursor: pointer;
}

.fc-daygrid-day:hover {
  background: rgb(255, 235, 255);
}

.fc-eventButton-button {
  border: 1px solid rgb(152, 11, 165)!important; 
  background: rgb(152, 11, 165)!important;
  color: white!important;
  font-weight: 300!important;
  border-radius: 25px!important;
}

.fc-eventButton-button:hover {
  border: 1px solid rgb(152, 11, 165, 0.8)!important; 
  background: rgb(152, 11, 165, 0.8)!important;
}

.fc-dayGridMonth-button {
  background: none!important;
  color: #2C3E50!important;
  border: 2px solid #2C3E50!important;
  border-top-left-radius: 25px!important;
  border-bottom-left-radius: 25px!important;
}

.fc-timeGridDay-button {
  background: none!important;
  color: #2C3E50!important;
  border: 2px solid #2C3E50!important;
  border-left: none!important;
  border-top-right-radius: 25px!important;
  border-bottom-right-radius: 25px!important;
}

.fc-button-active {
  background-color: #2C3E50!important;
  color: white!important;
}


@media (max-width: 600px) {
  .calendar-container {
    left: 0;
    width: 100%;
  }

  /* .box-container {
    margin: 20px auto;
    width: 90%;
  } */
}