#search-bar-span {
  display: inline;
}

.location-autocomplete-wrapper
.PrivateNotchedOutline-legendLabelled-16 span {
  visibility: hidden;
}
/* ------- MEDIA QUERIES ------- */
@media (max-width: 600px) {
  #search-bar-span {
    display: none;
  }
}