.reviews-page {
  background: rgb(247, 247, 247);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.review-search-div {
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
}

.review-search-div input {
  width: 80%;
  height: 30px;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  font-size: 16px;
}

.review-sort-div {
  margin: 10px auto;
  width: fit-content;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(156, 18, 184);
  border-radius: 2px;
  padding: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.review-sort-div table {
  width: 600px;
}

.review-sort-td {
  text-align: right;
}

.sort-btn-div {
  display: inline-block;
  margin: 0 5px;
}

.sort-btn {
  padding: 0!important;
  margin: 2px;
  vertical-align: top;
}

.review-container {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.no-reviews {
  text-align: center;
  margin-top: 50px;
}