.popup-bg {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.popup-container {
  display: flex;
  position: fixed;
  /* bottom: 40px; */
  /* left: calc(50% - 150px);  */
  /* 150px = half popup width / may need to change*/
  z-index: 20;
  min-width: 300px;
  width: fit-content;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
  color: white;
}

.popup-message-icon {
  display: inline-block;
  width: 20px;
}

.popup-message {
  display: inline-flex;
  vertical-align: top;
  padding-left: 20px;
  font-weight: 600;
  width: 85%;
}

.popup-clear-div {
  display: inline-block;
  text-align: right;
  width: 20px;
}

.popup-clear {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.error {
  background: #F44336;
}

.success {
  background: #4CAF50;
}

.warning {
  background: #FF9800;
}