.login-seg {
  height: 100%;
  min-height: 100vh;
}

#left-seg {
  padding-right: 10%;
}

#inner-left-seg {
  height: 100%;
  max-width: 500px;
  background: rgb(248, 233, 250);
}

.logo-div img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
}

.graphic-div {
  text-align: center;
}

.graphic-div img {
  width: 200px;
  padding-top: 140px;
  margin-bottom: 20px;
}

.seg-text {
  /* padding-top: 200px; */
  text-align: center;
}

.no-account-text {
  margin-bottom: 10px;
}

.login-form-div {
  padding-right: 10%;
  padding-top: 120px;
  width: fit-content;
  margin: 0 auto;
}

.field-div {
  width: 400px;
}

.login-form-div h1 {
  margin-bottom: 30px;
}

.login-form-div #login-subtext {
  color: rgb(128, 128, 128);
}

.login-form-div form {
  width: 400px;
  margin-top: 20px;
}

.login-btn {
  width: fit-content;
}

/* ------- MEDIA QUERIES ------- */

@media (max-width: 600px) {
  .login-seg {
    min-height: 0;
  }

  #left-seg {
    height: 200px;
    min-height: 200px;
  }

  #left-seg {
    padding-right: 0;
  }

  #inner-left-seg {
    max-width: 600px;
    height: 100%;
  }

  .logo-div img {
    top: 10px;
    left: 10px;
    width: 120px;
    cursor: pointer;
  }

  .graphic-div {
    display: none;
  }

  .seg-text {
    padding-top: 70px;
  }

  .login-form-div {
    padding-right: 0;
    padding-top: 20px;
    width: 300px;
    padding-bottom: 75px;
  }

  .login-form-div h1 {
    text-align: center;
  }

  .login-form-div form, .field-div {
    width: 300px;
  }
  
  .login-btn {
    display: block;
    margin: 0 auto;
  }
}