.bg {
  background: rgb(195, 63, 232);
  width: 100%;
  height: 250px;
}

.location-autocomplete-wrapper {
  background: white;
  border-radius: 4px;
  width: 500px;
  margin: 0 auto;
}

.search-location-icon {
  display: inline-block;
}

.home-content {
  width: 100%;
}

.home-heading-div {
  margin: 50px 0 10px 0;
}

.infographics-subheading {
  margin: 20px 0;
}

.infographics-everyone,
.infographics-members {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
}

.home-content hr {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin: 40px;
}

.create-account-div {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

#create-account-btn {
  background: rgb(195, 63, 232);
  color: white;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

#create-account-btn:hover {
  background: rgb(159, 32, 194);
}