.results-searchbar {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  max-width: 900px;
}

.results-container {
  width: 80%;
  max-width: 750px;
  margin: 50px auto;
  margin-top: 0;
}

.results-filterdiv {
  padding-left: 10%;
}

.results-info {
  width: 80%;
  max-width: 750px;
  margin: 20px auto;
  font-size: 18px;
}

.listing-search-break {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.09);
  margin: 20px 50px;
}


.listing-page-navigator {
  width: 600px;
  height: 30px;
  /* background: white;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.04);
  border-radius: 4px; */
  padding: 5px;
  margin: 10px auto;
  margin-bottom: 70px;
}

.listing-page-navigator table {
  width: fit-content;
  margin: 0 auto;
}

.listing-page-navigator table td {
  padding: 0 10px;
}

.listing-page-navigator button {
  font-family: "Roboto", sans-serif;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0, 0.12);
  background: none;
  cursor: pointer;
}

.listing-page-navigator .selected-page {
  border: 1px solid rgba(160, 39, 207);
  background: rgb(245, 212, 245);
}

.listing-page-navigator .prev-listing-page,
.listing-page-navigator .next-listing-page {
  width: 50px;
  border-radius: 2px;
  background: rgba(160, 39, 207);
  color: white;
}

.results-info-keyword, 
.results-info-pages {
  font-size: 16px;
  display: inline-block;
}

.results-info-keyword {
  width: 75%;
}

#no-matching-listings {
  margin: 80px auto;
  margin-bottom: 60%;
  font-size: 30px;
  text-align: center;
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 900px) {
  .listing-search-break {
    margin: 20px 30px;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .results-container {
    width: 500px;
  }

  .results-info {
    width: 500px;
  }

  .results-filterdiv {
    padding-left: 2%;
  }
  
}

@media (max-width: 600px) {
  .results-container {
    width: 95%;
  }

  .results-searchbar {
    width: 100%;
  }

  .listing-page-navigator {
    width: 100%;
    margin-top: 0;
  }

  .results-info {
    width: 100%;
    padding: 0 10px;
  }

  .results-info-keyword, 
  .results-info-pages {
  font-size: 16px;
  display: block;
  width: 100%;
  }

  .results-filterdiv {
    padding-left: 0;
  }
  
}
