.results-searchbar {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 900px;
}

.results-container {
  width: 80%;
  max-width: 750px;
  margin: 50px auto;
}

.results-filterdiv {
  padding-left: 40px;
}