.review-card {
  width: 100%;
  background: white;
  border-top: 1px solid rgb(219, 219, 219);
  /* border-radius: 2px; */
  margin: 0 auto;
  /* padding: 10px; */
}

.review-address-table {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  color: rgb(157, 24, 190);
}

.review-content-table {
  width: 100%;
  padding: 10px;
  padding-top: 0;
  height: 100%;
  overflow: auto;
}

.review-content-title h3 {
  margin: 0;
}

.review-content-td {
  vertical-align: top;
}

.review-text {
  overflow: auto;
  height: 150px;
}

.review-creator, .inspected-on {
  color: rgb(175, 175, 175);
  margin: 5px 0;
}

.inspected-on {
  font-size: 12px;
}

.review-rating-table {
  border-collapse: collapse;
  width: 100%;
}

.review-criteria {
  font-weight: 300;
}

.review-rating-table tr {
  border-bottom: 1px solid rgb(241, 241, 241);
}

.review-rating-table tbody :last-child {
  border-bottom: none;
}

.out-of {
  color: rgb(180, 180, 180);
}

.review-score {
  text-align: right;
}

.review-table {
  display: table;
  width: 100%;
}

.review-table-responsive {
  display: none;
  width: 100%;
}

#property-specs-info {
  display: table-cell;
}

#property-specs-info-responsive {
  display: none;
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 600px) {
  .review-table {
    display: none;
  }
  
  .review-table-responsive {
    display: table;
  }

  .review-text {
    overflow: auto;
    height: fit-content;
    max-height: 250px;
  }  

  #property-specs-info {
    display: none;
  }
  
  #property-specs-info-responsive {
    display: table-cell;
    padding-bottom: 10px;
  }
}
