.wrapper-class {
  /* padding: 5px; */
  border: 1px solid rgb(226, 225, 225);
}

.editor-class {
  background-color: white;
  padding: 10px;
  border-top: 1px solid rgb(240, 237, 237);
}

.toolbar-class {
  border: none;
}
