.note-cell {
  overflow: auto;
  text-align: left;
}

.note-cell ul {
  list-style: none;
  padding-left: 0;
}

.no-property-notes button {
  background: white;
  border: 1px solid rgb(165, 11, 204);
  color: rgb(165, 11, 204);
  cursor: pointer;
}

.no-property-notes button:hover {
  background: rgb(165, 11, 204);
  color: white;
}

.property-note-title {
  text-decoration: underline;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.no-input-cell {
  color: rgb(223, 223, 223);
  text-align: center;
}

.property-action-btn {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}

.property-action-btn:hover {
  background: rgb(0 ,0 ,0, 0.04);
}
