.listingCard-box {
  width: 100%;
  height: 237px;
  background: white;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 2px;
  display: flex;
  margin: 30px auto;
}

.listingCard-image {
  border-right: 1px solid rgb(0, 0, 0, 0.12);
  width: 355px;
  /* height: 100%; */
  display: inline-block;
}

.listingCard-image img {
  width: 355px;
}

.listingCard-info {
  width: calc(100% - 355px);
  /* height: 100%; */
  display: inline-block;
}

.listingCard-agency-logo img {
  height: 40px;
}

.listingCard-priceHeading {
  padding: 10px;
  font-weight: 700;
}

.listingCard-propertySpecs, 
.listingCard-address {
  padding: 0 10px;
}

.listingCard-propertySpecs {
  padding: 0 10px;
}

.listingCard-info hr {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
  margin: 0;
}

.listingCard-inspection {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
}

.listingCard-agent {
  display: flex;
}

.listingCard-agent-photo {
  display: inline-block;
  padding: 10px;
}

.listingCard-agent-photo img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.listingCard-agent-info {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}

.listingCard-agent-info-name {
  font-weight: 600;
}

@media (max-width: 900px) {
  .listingCard-box {
    height: fit-content;
    display: block;
  }

  .listingCard-image, .listingCard-info {
    display: block;
  }

  .listingCard-image,
  .listingCard-image img,
  .listingCard-info {
    width: 500px;
  }

  .listingCard-image {
    height: 334px;
  }
}