.listingCard-box {
  width: 100%;
  height: 237px;
  background: white;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 2px;
  display: flex;
  margin: 20px auto;
}

.listingCard-image {
  border-right: 1px solid rgb(0, 0, 0, 0.12);
  width: 355px;
  /* height: 100%; */
  display: inline-block;
}

.listingCard-info {
  padding: 10px;
  /* height: 100%; */
  display: inline-block;
}

.listingCard-priceHeading {
  font-weight: 600;
}