.back-to-search-results {
  margin-top: 30px;
  margin-left: 10%;
}

.single-listing-box {
  width: 80%;
  height: 75vh;
  background: white;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
}

.single-listing-images {
  width: 50%;
  height: 100%;
  border-right: rgb(0, 0, 0, 0.12);
  overflow: auto;
  display: inline-block;
}

.single-listing-info {
  display: inline-block;
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}

.single-listing-info hr {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
}