.nav-toolbar-home a {
  color: white;
  text-decoration: none;
}

.nav-toolbar a {
  color: black;
  text-decoration: none;
}

/* #navbar-logo {
  width: 200px
} */

#navbar-logo-div {
  margin-top: 10px;
  width: 200px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logoWhite {
  background-image: url(../../images/logo-white.png);
}

.logo {
  background-image: url(../../images/logo.png);
}

/* ------- MEDIA QUERIES ------ */
@media (max-width: 600px) {
  #navbar-logo-div {
    margin-top: 5px;
    width: 60px;
    height: 60px;
  }

  .logoWhite {
    background-image: url(../../images/logo-sm-white.png);
  }
  
  .logo {
    background-image: url(../../images/logo-sm.png);
  }
}